src/conf/xml-resources/web-service-references/Cajero/wsdl/localhost_8080/ClienteSOAP/Cajero.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="depositar" type="tns:depositar"/>

<xs:element name="depositarResponse" type="tns:depositarResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="registro" type="tns:registro"/>

<xs:element name="registroResponse" type="tns:registroResponse"/>

<xs:element name="retirar" type="tns:retirar"/>

<xs:element name="retirarResponse" type="tns:retirarResponse"/>

<xs:element name="saldo" type="tns:saldo"/>

<xs:element name="saldoResponse" type="tns:saldoResponse"/>

<xs:complexType name="saldo">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saldoResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retirar">
<xs:sequence>
<xs:element name="valor" type="xs:float"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retirarResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="registro">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="repclave" type="xs:string" minOccurs="0"/>
<xs:element name="saldoinical" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registroResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositar">
<xs:sequence>
<xs:element name="saldo" type="xs:float"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositarResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>